* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    font-family: serif;
}
.title-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: skyblue;
    
}
.title-card-heading{
    font-size: 50px;
    font-family: italic;
    color: #ffffff;
}

.login-bg-card{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1480&t=st=1713204106~exp=1713204706~hmac=42d4227d7548828fb5d5a6cb0c0672556afb950895f1be1300ada0315c0d08f5");
    background-size: cover;
    
}
.login-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid darkgreen;
    padding: 20px;
    min-height: 320px;
    
}

.inputs-card{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: flex-start ;
}
.label-text{
    margin-right: 10px;
    font-size: 25px;
    text-align: start;
    margin-bottom: 10px ;
}
.user-input{
    width: 250px;
    height: 30px;
    outline: none;
    text-align: start;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: #ddf0f7;
    border: solid 1px black;
    color: black;
}

.btn-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button{
    background-color: #008CBA;
    height: 35px;
    width: 100px;
    padding: 5px;
    border-radius: 7px;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 17px;
    margin-top: 10px;

}

.error-msg{
    color: red;
    font-size: 17px;   
}

.failure-msg{
    color: red;
    font-size: 20px;
    text-align: center;
}

.success-msg{
    color: rgb(18, 224, 87);
    font-size: 20px;
    text-align: center;
}